body {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;

  &::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 110%;
    height: 110vh;
    z-index: -1;
    background-image: url("inmyroom_background.png");
    background-size: cover;
    background-position: center;
    transition: height 999999s;
  }
}

