.main {
  min-height: 100vh;
  background-image: url("inmyroom_background.png");
  background-size: 350vw;
  background-position-x: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgb(34,33,38);

}


